body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* h1,h4,.topic,.info{
display: block;
text-align: center;
}
.body-register {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  padding: 20px 0 20px 0;
}

.register-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.register h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-group {
  margin-bottom: 15px;
}

.register-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.register-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
} */


/* login styles */
/* 
.body-login {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  padding: 20px 0 20px 0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-group {
  margin-bottom: 15px;
}

.login-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
} */

/*Data entry css*/

/* .Employee-data-container{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  padding: 20px 0 20px 0;
}

.Employee-data-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.Employee-data-form label {
  color: #000000;
}

.Employee-data-form input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
} */

/* Add to cart styles */

.container{
  margin-left: 14px;
  background-color: rgb(223, 223, 223);
}

.add-to-cart-button{
  margin-top: 1%;
  padding: 8px;
  border: none;
  color: white;
  border-radius: 5px;
  margin-bottom: 1%;
  width: 15%;
  background-color: blue;
  margin-left: 42%;
  display: inline;
}

.add-to-cart-button:hover{
  background-color: rgb(19, 19, 186);
}
.amount-button{
  padding: 8px;
  border: none;
  color: white;
  border-radius: 5px;
  width: 15%;
  background-color: blue;
  margin-left: 42%;
  display: inline;
}

.amount-button:hover{
  background-color: rgb(11, 11, 183);
}
.Topic{
  margin-right: 5px;
  padding: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

img{
  display: inline-block;
  padding: 10px;
  height: 210px;
  width: 335px;

}
.images{
  display: inline-block;
  margin: 8px;
  border-radius: 7px;
  background-color: rgb(165, 165, 165);
}
.images:hover{
  background-color: rgb(102, 102, 102);
  transition-duration: 0.3s;
  transform: scale(1.04);
}

.AddCart{
  background-color: rgb(39, 173, 39);
  color:white;
  text-align: center;
  padding: 6px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
}

.AddCart:hover{
  cursor: pointer;
  background-color: rgb(36, 188, 36);
  transform: scale(1.03);
  transition-duration: 0.2ms;
}
.confirm-button{
  border: none;
  padding: 11px 35px;
  color: white;
  background-color: rgb(230, 67, 67);
  border-radius: 5px;
  margin-bottom: 2%;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.images:hover p {
  color: rgb(255, 255, 255);
}

.confirm-button:hover{
  background-color: red;
  transform: scale(1.02);
  transition-duration: 100ms;
  cursor: pointer;
}

.confirmation{
  text-align: center;
}
