body{
    text-align: center;
    margin-top: 6%;
    font-family: sans-serif;
    background-color: rgb(98, 98, 232);
}
.container{
    background-color: white;
    margin: 3% 20% 3% 20%;
    padding: 50px;
    border-radius: 6px;
    box-shadow: 8px 6px 8px black;
}
h2{
    color: blue;
}
input{
    height: 25px;
    border-radius: 4px;
    outline: none;
    border:2px solid gray;
}
input:focus{
    border: 2px solid blue;
}
button{
    outline: none;
    border: none;
    background-color:rgb(98, 98, 232);
    color: white;
    padding: 7px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: blue;
    transform: scale(1.2);
    transition-duration: 0.1s;
}