p{
    font-size: xx-large;
    background-color: grey;
    color: black;
    text-align: center;
}
.body{
    display: flex;
    justify-content: center;
}
.container{
    background-color: rgb(200, 200, 200);
    color: black;
    text-align: center;
    padding-top: 15px;
    height: 180px;
    width: 300px;
}

button{
    border: none;
    color: white;
    background-color: rgb(9, 132, 9);
    padding: 10px 30px;
    border-radius: 7px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(6, 177, 6);
    transition-duration: 200ms;
}